
.about__item {
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  background-color: rgb(236, 235, 235);
  margin: 25px 0;
  position: relative;
  text-align: center;
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 10px;
  opacity: 0.6;
}

.description {
  font-size: 24px;
  font-weight: 500;
}

.content {
  padding-top: 30px;
}
