#aboutme
include ../header/header.pug
.column(span="row")
.column(span="row")
.column(span="row")
.hero-image
  .hero-text
    h1.numele-meu=data['about-me'].sectionTitle
  .new
    button.class(type='button' onclick="#contactus") Change NOW!
      



