doctype html
html
  head
    title We start from here again
    link(rel="stylesheet" href="style.css")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  body
    .grid
      include __comp/about-me/about-me.pug
      include __comp/diet/diet.pug
      include __comp/training/training.pug
      include __comp/about-us/about-us.pug
      include __comp/contact-us/contact-us.pug
