* {
  padding: 0;
  margin: 0;
}

.content {
  background-image: url('asset/image/gym.png');
 //- background-color: antiquewhite;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid {
  display:grid;
}
